{% extends "blog.html" %}
{% block content %}

<div class="col-lg-4">
    <div class="portfolio-info">
        <h3>この記事を書いた人</h3>
        <div class="member-img">
            <img src="static/img/profile.jpg" class="img-fluid" alt="">
            <div class="social">
                <!--                                <a href="https://twitter.com/mugwort51"><i class="bi bi-twitter"></i></a>-->
                <!--<a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>-->
            </div>
        </div>
        <ul>
            <li><strong>name</strong>: Yu Hiroshima</li>
            <li>上級ウェブ解析士</li>
            <li>個人事業者向けのウェブ解析、広告運用など、トータルでサポートする「BULLPEN」を運営。野球観戦とキャンプが趣味。</li>
            <!--            <li><strong>Client</strong>: ASU Company</li>-->
            <!--            <li><strong>Project date</strong>: 01 March, 2020</li>-->
            <!--            <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>-->
        </ul>
    </div>
    <div class="portfolio-description">
        <h2>BULLPENとは</h2>
        <p>
            BULLPENは、幅広い視点でウェブ解析を行い、成果に繋がる改善策を提案し、実行いたします。時間に制約のある個人事業主の方々には手軽な料金設定で集客サポートを提供しています。お気軽にお問い合わせください。
        </p>

    </div>
    <div class="row content" data-aos="fade-up">
    <a href="/" class="btn-learn-more">お問合せへ</a>
     </div>
</div>

{% endblock %}
