{% extends "layout.html" %}
{% block content %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a href="/">BULLPEN</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#services">Services</a></li>
                <li><a class="nav-link scrollto " href="#portfolio">Blog</a></li>
                <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>
                <li><a class="nav-link scrollto" href="#team">Profile</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>BULLPEN</span></h2>
                <p class="animate__animated fanimate__adeInUp">Web marketing, Website development, Web advertising</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
        </div>

        <!--        &lt;!&ndash; Slide 2 &ndash;&gt;-->
        <!--        <div class="carousel-item">-->
        <!--            <div class="carousel-container">-->
        <!--                <h2 class="animate__animated animate__fadeInDown">Lorem Ipsum Dolor</h2>-->
        <!--                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi-->
        <!--                    ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea-->
        <!--                    voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi-->
        <!--                    architecto.</p>-->
        <!--                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>-->
        <!--            </div>-->
        <!--        </div>-->

        <!--        &lt;!&ndash; Slide 3 &ndash;&gt;-->
        <!--        <div class="carousel-item">-->
        <!--            <div class="carousel-container">-->
        <!--                <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>-->
        <!--                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi-->
        <!--                    ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea-->
        <!--                    voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi-->
        <!--                    architecto.</p>-->
        <!--                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>-->
        <!--            </div>-->
        <!--        </div>-->

        <!--        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">-->
        <!--            <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>-->
        <!--        </a>-->

        <!--        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">-->
        <!--            <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>-->
        <!--        </a>-->

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 24 150 28" preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s58 18 88 18 58-18 88-18 58 18 88 18v44h-352z"/>
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)"/>
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)"/>
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff"/>
        </g>
    </svg>


</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>About</h2>
                <p>BULLPENとは</p>
            </div>

            <div class="row content" data-aos="fade-up">
                <div class="col-lg-6">
                    <p>
                        札幌のWEBアクセス解析・広告運用の専門家です。
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> WEB解析を行い、成果に繋がる改善施策の提案と実行</li>
                        <li><i class="ri-check-double-line"></i> WEB解析を行うための、各種設定や運用状況の確認</li>
                        <li><i class="ri-check-double-line"></i> WEB広告の設定と運用</li>
                    </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
BULLPENは、あなたのWebサイトやオンラインサービスを最大限に活用するための効果的な施策を提案し、実行いたします。ウェブページの改善や解析の設定、必要に応じた広告運用など、成果に向けた多様なサポートを行います。まずはお問い合わせからお気軽にご相談下さい。                    </p>
                    <a href="#contact" class="btn-learn-more">お問合せ</a>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">

            <ul class="nav nav-tabs row d-flex">
                <li class="nav-item col-3" data-aos="zoom-in">
                    <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                        <i class="number">①</i>
                        <h4 class="d-none d-lg-block">お問合せ</h4>
                    </a>
                </li>
                <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                        <i class="number">②</i>
                        <h4 class="d-none d-lg-block">Google<br>アナリティクス<br>導入設定支援</h4>
                    </a>
                </li>
                <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                        <i class="number">③</i>
                        <h4 class="d-none d-lg-block">ウェブサイト解析</h4>
                    </a>
                </li>
                <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
                        <i class="number">④</i>
                        <h4 class="d-none d-lg-block">広告運用</h4>
                    </a>
                </li>
            </ul>

            <div class="tab-content" data-aos="fade-up">
                <div class="tab-pane active show" id="tab-1">
                    <div class="row">
                        <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                            <h3>まずはお問合せ下さい</h3>
                            <p class="fst-italic">
                                現在の業務内容やウェブサイト、広告の運用状況をお聞きした上で、改善が期待できる施策をご提案させていただきます。
                            </p>
                            <ul>
                                <li><i class="ri-check-double-line"></i> お問合せフォームよりご連絡ください。</li>
                                <li><i class="ri-check-double-line"></i> メールを返送致しますので、ご回答をお願いいたします。</li>
                                <li><i class="ri-check-double-line"></i>
                                    ご回答頂いた内容を元に、施策提案をさせて頂きます。
                                </li>
                                <li><i class="ri-check-double-line"></i> ご依頼頂ける際はお申し込み下さい。ここまでで料金は発生しません。</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 text-center">
                            <img src="static/img/features-2.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-2">
                    <div class="row">
                        <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                            <h3>Googleアナリティクスの導入や設定状況を確認致します。</h3>
                            <p>
                                WEB上でのビジネスにおいて欠かせないGoogleアナリティクスの導入、また導入済みWEBサイトの設定状況の確認及び診断を行います。</p>
                            <ul>
                                <li><i class="ri-check-double-line"></i> Googleアナリティクスの導入設定</li>
                                <li><i class="ri-check-double-line"></i> Googleアナリティクスの運用診断</li>
                                <li><i class="ri-check-double-line"></i> Googleアナリティクスの各種設定</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 text-center">
                            <img src="static/img/features-4.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-3">
                    <div class="row">
                        <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                            <h3>ウェブ解析を行い、成果に繋がる施策を提案・実行致します。</h3>
                            <p>
                                BULLPENでは、上級ウェブ解析士の資格を持ったマーケターが、現状のウェブサイトを詳しく解析いたします。ウェブサイトの強みや弱みを明確に把握し、適切な改善施策をご提案いたします。 </p>
                            <ul>
                                <li><i class="ri-check-double-line"></i> Googleアナリティクス等を使用したアクセス解析</li>
                                <li><i class="ri-check-double-line"></i> SEO施策</li>
                                <li><i class="ri-check-double-line"></i> レポート作成など</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 text-center">
                            <img src="static/img/features-1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-4">
                    <div class="row">
                        <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                            <h3>費用対効果を重要視した広告運用を致します。</h3>
                            <p>
                                BULLPENでは、Google広告の「検索広告」と「ディスプレイ広告」の認定資格を持ったマーケターが、施策に沿った広告運用を行います。</p>
                            <ul>
                                <li><i class="ri-check-double-line"></i> Google広告</li>
                                <li><i class="ri-check-double-line"></i> Yahoo広告</li>
                                <li><i class="ri-check-double-line"></i> SNS広告</li>
                                <li><i class="ri-check-double-line"></i> 各広告の運用レポート作成</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 text-center">
                            <img src="static/img/features-3.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Features Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container">

            <div class="row" data-aos="zoom-out">
                <div class="col-lg-9 text-center text-lg-start">
                    <h3>まずはお問合せを</h3>
                    <p> お問合せ内容を元に、施策を検討しご提案致します。</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="#contact">お問合せ</a>
                </div>
            </div>

        </div>
    </section><!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>Services</h2>
                <p>BULLPENの強み</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="icon-box" data-aos="zoom-in-left">
                        <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
                        <h4 class="title">お問合せ</h4>
                        <p class="description">まずはお話をお聞かせください。ご契約に進む必要は必ずしもございませんので、お気軽にお問合せください。</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
                    <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
                        <div class="icon"><i class="bi bi-book" style="color: #e9bf06;"></i></div>
                        <h4 class="title">アカウント譲渡</h4>
                        <p class="description">
                           ノウハウの流出を防ぐため、広告アカウントの譲渡を行わない企業も多く存在します。しかし、BULLPENはお客様に全てのアカウント権限を提供いたします。</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
                    <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
                        <div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
                        <h4 class="title">費用対効果最大</h4>
                        <p class="description">
                            広告運用費は一般的に予算の20％が相場とされています。しかし、BULLPENは工数に応じた手数料を頂くことで、不必要な広告予算の膨張を防ぎます。</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="300">
                        <div class="icon"><i class="bi bi-binoculars" style="color:#41cf2e;"></i></div>
                        <h4 class="title">小規模事業に強い</h4>
                        <p class="description">
                            フリーランスとして活動しているため、各種手数料の低価格化を実現させています。お客様の負担にならず、かつ成果を最大限上げられるようサポート致します。</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="400">
                        <div class="icon"><i class="bi bi-globe" style="color: #d6ff22;"></i></div>
                        <h4 class="title">デザイン修正</h4>
                        <p class="description">HTMLやCSSなどのマークアップ言語にも精通し、ウェブサイトの改善にも対応することが可能です。</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="500">
                        <div class="icon"><i class="bi bi-clock" style="color: #4680ff;"></i></div>
                        <h4 class="title">トータルサポート</h4>
                        <p class="description">GoogleAnalyticsの導入設定からアクセス解析、広告運用まで、総合的にお手伝いいたします。</p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>Blog</h2>
                <p>ブログ</p>
            </div>
            <p>投稿はありません</p>
            <!--            <ul id="portfolio-flters" class="d-flex justify-content-end" data-aos="fade-up">-->
            <!--                <li data-filter="*" class="filter-active">All</li>-->
            <!--                <li data-filter=".filter-app">App</li>-->
            <!--                <li data-filter=".filter-card">Card</li>-->
            <!--                <li data-filter=".filter-web">Web</li>-->
            <!--            </ul>-->

            <!--            <div class="row portfolio-container" data-aos="fade-up">-->
            <!--                <div class="col-lg-4 col-md-6 portfolio-item filter-app">-->
            <!--                    <div class="portfolio-img"><img src="static/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">-->
            <!--                    </div>-->
            <!--                    <div class="portfolio-info">-->
            <!--                        <h4>App 1</h4>-->
            <!--                        <p>App</p>-->
            <!--                        <a href="static/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery"-->
            <!--                           class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>-->
            <!--                        <a href="portfolio-details.html" class="details-link" title="More Details"><i-->
            <!--                                class="bx bx-link"></i></a>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--                <div class="col-lg-4 col-md-6 portfolio-item filter-web">-->
            <!--                    <div class="portfolio-img"><img src="static/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">-->
            <!--                    </div>-->
            <!--                    <div class="portfolio-info">-->
            <!--                        <h4>Web 3</h4>-->
            <!--                        <p>Web</p>-->
            <!--                        <a href="static/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery"-->
            <!--                           class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>-->
            <!--                        <a href="portfolio-details.html" class="details-link" title="More Details"><i-->
            <!--                                class="bx bx-link"></i></a>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--                <div class="col-lg-4 col-md-6 portfolio-item filter-app">-->
            <!--                    <div class="portfolio-img"><img src="static/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">-->
            <!--                    </div>-->
            <!--                    <div class="portfolio-info">-->
            <!--                        <h4>App 2</h4>-->
            <!--                        <p>App</p>-->
            <!--                        <a href="static/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery"-->
            <!--                           class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>-->
            <!--                        <a href="portfolio-details.html" class="details-link" title="More Details"><i-->
            <!--                                class="bx bx-link"></i></a>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--                <div class="col-lg-4 col-md-6 portfolio-item filter-card">-->
            <!--                    <div class="portfolio-img"><img src="static/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">-->
            <!--                    </div>-->
            <!--                    <div class="portfolio-info">-->
            <!--                        <h4>Card 2</h4>-->
            <!--                        <p>Card</p>-->
            <!--                        <a href="static/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery"-->
            <!--                           class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>-->
            <!--                        <a href="portfolio-details.html" class="details-link" title="More Details"><i-->
            <!--                                class="bx bx-link"></i></a>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--                <div class="col-lg-4 col-md-6 portfolio-item filter-web">-->
            <!--                    <div class="portfolio-img"><img src="static/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">-->
            <!--                    </div>-->
            <!--                    <div class="portfolio-info">-->
            <!--                        <h4>Web 2</h4>-->
            <!--                        <p>Web</p>-->
            <!--                        <a href="static/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery"-->
            <!--                           class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>-->
            <!--                        <a href="portfolio-details.html" class="details-link" title="More Details"><i-->
            <!--                                class="bx bx-link"></i></a>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--                <div class="col-lg-4 col-md-6 portfolio-item filter-app">-->
            <!--                    <div class="portfolio-img"><img src="static/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">-->
            <!--                    </div>-->
            <!--                    <div class="portfolio-info">-->
            <!--                        <h4>App 3</h4>-->
            <!--                        <p>App</p>-->
            <!--                        <a href="static/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery"-->
            <!--                           class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>-->
            <!--                        <a href="portfolio-details.html" class="details-link" title="More Details"><i-->
            <!--                                class="bx bx-link"></i></a>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--                <div class="col-lg-4 col-md-6 portfolio-item filter-card">-->
            <!--                    <div class="portfolio-img"><img src="static/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">-->
            <!--                    </div>-->
            <!--                    <div class="portfolio-info">-->
            <!--                        <h4>Card 1</h4>-->
            <!--                        <p>Card</p>-->
            <!--                        <a href="static/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery"-->
            <!--                           class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>-->
            <!--                        <a href="portfolio-details.html" class="details-link" title="More Details"><i-->
            <!--                                class="bx bx-link"></i></a>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--                <div class="col-lg-4 col-md-6 portfolio-item filter-card">-->
            <!--                    <div class="portfolio-img"><img src="static/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">-->
            <!--                    </div>-->
            <!--                    <div class="portfolio-info">-->
            <!--                        <h4>Card 3</h4>-->
            <!--                        <p>Card</p>-->
            <!--                        <a href="static/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery"-->
            <!--                           class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>-->
            <!--                        <a href="portfolio-details.html" class="details-link" title="More Details"><i-->
            <!--                                class="bx bx-link"></i></a>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--                <div class="col-lg-4 col-md-6 portfolio-item filter-web">-->
            <!--                    <div class="portfolio-img"><img src="static/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">-->
            <!--                    </div>-->
            <!--                    <div class="portfolio-info">-->
            <!--                        <h4>Web 3</h4>-->
            <!--                        <p>Web</p>-->
            <!--                        <a href="static/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery"-->
            <!--                           class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>-->
            <!--                        <a href="portfolio-details.html" class="details-link" title="More Details"><i-->
            <!--                                class="bx bx-link"></i></a>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--            </div>-->

        </div>
    </section><!-- End Portfolio Section -->


    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
        <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>Pricing</h2>
                <p>各種費用</p>
            </div>
            <p>お問合せ下さい。お見積もりを作成致します。</p>
            <!--            <div class="row">-->

            <!--                <div class="col-lg-3 col-md-6">-->
            <!--                    <div class="box" data-aos="zoom-in">-->
            <!--                        <h3>Free<br></h3>-->
            <!--                        <h4><sup>¥</sup>0<span></span></h4>-->
            <!--                        <ul>-->
            <!--                            <li>初回相談</li>-->
            <!--                            <li>オンラインミーティング</li>-->
            <!--                            <li>メール</li>-->
            <!--                            <li>&nbsp;</li>-->
            <!--                            <li>&nbsp;</li>-->
            <!--                        </ul>-->
            <!--                        <div class="btn-wrap">-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--                <div class="col-lg-3 col-md-6 mt-4 mt-md-0">-->
            <!--                    <div class="box featured" data-aos="zoom-in" data-aos-delay="100">-->
            <!--                        <h3>GA4導入/設定支援</h3>-->
            <!--                        <h4><sup>¥</sup>30000<span></span></h4>-->
            <!--                        <ul>-->
            <!--                            <li>※初回のみ費用発生</li>-->
            <!--                            <li>GA4導入設定</li>-->
            <!--                            <li>導入状況診断</li>-->
            <!--                            <li>&nbsp;</li>-->
            <!--                            <li>&nbsp;</li>-->
            <!--                        </ul>-->
            <!--                        <div class="btn-wrap">-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">-->
            <!--                    <div class="box" data-aos="zoom-in" data-aos-delay="200">-->
            <!--                        <h3>ウェブ解析<br></h3>-->
            <!--                        <h4><sup>¥</sup>70000<span> / 月</span></h4>-->
            <!--                        <ul>-->
            <!--                            <li>アクセス解析</li>-->
            <!--                            <li>課題特定・施策立案</li>-->
            <!--                            <li>レポート作成</li>-->
            <!--                            <li>&nbsp;</li>-->
            <!--                            <li>&nbsp;</li>-->
            <!--                        </ul>-->
            <!--                        <div class="btn-wrap">-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--                <div class="col-lg-3 col-md-6 mt-4 mt-md-0">-->
            <!--                    <div class="box featured" data-aos="zoom-in" data-aos-delay="300">-->
            <!--                        <h3>広告運用代行<br></h3>-->
            <!--                        <h4><sup>¥</sup>50000<span> / 月</span></h4>-->
            <!--                        <ul>-->
            <!--                            <li>※1キャンペーンの金額</li>-->
            <!--                            <li>広告の設定</li>-->
            <!--                            <li>各種タグ設定</li>-->
            <!--                            <li>広告運用</li>-->
            <!--                            <li>レポート作成</li>-->
            <!--                        </ul>-->
            <!--                        <div class="btn-wrap">-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--            </div>-->

        </div>
    </section><!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
        <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>F.A.Q</h2>
                <p>よくあるご質問</p>
            </div>

            <ul class="faq-list">

                <li>
                    <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">契約後のやりとりはどのように行いますか？ <i
                            class="bi bi-chevron-down icon-show"></i><i
                            class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            チャットツールであるSlackを使用致します。その他電話やメールでも可能です。
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">
                        ウェブ制作会社がウェブサイトを管理している場合はどうすればいいですか？ <i class="bi bi-chevron-down icon-show"></i><i
                            class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                        <p>契約状況を確認の上、可能な限りウェブ制作会社と直接やりとりを行います。デザインの修正やタグの設置などの作業をお客様を介さずに対応いたします。 </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">広告運用費は具体的にどのように決まりますか？ <i
                            class="bi bi-chevron-down icon-show"></i><i
                            class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Google検索広告、ディスプレイ広告、Yahoo!検索広告、Twitter広告など、各広告媒体に対して費用がかかります。ただし、最初の段階では主に顕在層に対して広告運用を行うため、多くの広告媒体を活用することは稀です。 </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">契約期間はありますか？ <i
                            class="bi bi-chevron-down icon-show"></i><i
                            class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            契約期間は特に設けておりませんが、分析結果から成果を得るまでには一定の期間がかかると考えております。そのため、一定期間の継続をお願いできれば幸いです。 </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">問い合わせの後の流れを知りたいです。 <i
                            class="bi bi-chevron-down icon-show"></i><i
                            class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            お問合せ内容を元に、メールかオンラインミーティングにて施策等をご提案致します。その後正式にご依頼頂きましたら、常時施策提案→実行を行い事業をサポート致します。 </p>
                    </div>
                </li>
            </ul>
        </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>profile</h2>
                <p>担当者紹介</p>
            </div>

            <div class="row content" data-aos="fade-up">
                <div class="original_a">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <img src="static/img/profile.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <!--                                <a href="https://twitter.com/mugwort51"><i class="bi bi-twitter"></i></a>-->
                                <!--<a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>-->
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Yu Hiroshima</h4>
                            <span>WEBマーケター</span>
                        </div>
                    </div>
                </div>
                <div class="original_b">
                    <p>
                        ウェブ解析士協会所属　上級ウェブ解析士<br>
                        Google アナリティクス認定資格<br>
                        Google 広告「検索広告」認定資格<br>
                        Google 広告「ディスプレイ広告」認定資格<br>
                        <br>
                        札幌市在住。小学生の子供とトイプードルと暮らしています。事業会社で一人でWEB広告を担当。その後マーケティングを独学で学び、上級ウェブ解析士の資格を取得。<br>
                        趣味は読書と野球観戦、キャンプ（年20泊ほど）、プログラミング（WEBサービスの個人開発）です！<br>
                    </p>
                </div>
            </div>
        </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>Contact</h2>
                <p>無料相談</p>
            </div>
            <div class="col-lg-9 text-center text-lg-start">
                <p>お名前とメールアドレスを入力してください。返信用メールをお送り致します。</p>
            </div>

            <div class="row mt-5">

                <div class="col-lg-4" data-aos="fade-right">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>北海道札幌市</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>bullpen.hiroshima@gmail.com</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0">
                    <form action="/send-email" method="POST" role="form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="お名前"
                                       required="required"/>
                                <label class="cp_label" for="input"></label>
                                <i class="bar"></i>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="メールアドレス"
                                       required="required"/>
                                <label class="cp_label" for="input"></label>
                                <i class="bar"></i>
                            </div>
                            <div class="text-center">
                                <button type="submit" value="Submit" class="originalbtn"><span>送信</span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <h3>BULLPEN</h3>
        <p>Web marketing, Website development, Web advertising</p>
        <div class="social-links">
            <!--            <a href="https://twitter.com/mugwort51" class="twitter"><i class="bx bxl-twitter"></i></a>-->
            <!--            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>-->
            <!--            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>-->
            <!--            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>-->
            <!--            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>-->
        </div>
        <div class="copyright">
            &copy; Copyright <strong><span>BULLPEN</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/selecao-bootstrap-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->


{% endblock %}
