{% extends "layout.html" %}
{% block content %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a href="/">BULLPEN</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#services">Services</a></li>
                <li><a class="nav-link scrollto " href="#portfolio">Blog</a></li>
                <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>
                <li><a class="nav-link scrollto" href="#team">Profile</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>BULLPEN</span></h2>
                <p class="animate__animated fanimate__adeInUp">Web marketing, Website development, Web advertising</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
        </div>

<!--        &lt;!&ndash; Slide 2 &ndash;&gt;-->
<!--        <div class="carousel-item">-->
<!--            <div class="carousel-container">-->
<!--                <h2 class="animate__animated animate__fadeInDown">Lorem Ipsum Dolor</h2>-->
<!--                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi-->
<!--                    ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea-->
<!--                    voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi-->
<!--                    architecto.</p>-->
<!--                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Slide 3 &ndash;&gt;-->
<!--        <div class="carousel-item">-->
<!--            <div class="carousel-container">-->
<!--                <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>-->
<!--                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi-->
<!--                    ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea-->
<!--                    voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi-->
<!--                    architecto.</p>-->
<!--                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>-->
<!--            </div>-->
<!--        </div>-->

<!--        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">-->
<!--            <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>-->
<!--        </a>-->

<!--        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">-->
<!--            <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>-->
<!--        </a>-->

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 24 150 28" preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s58 18 88 18 58-18 88-18 58 18 88 18v44h-352z"/>
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)"/>
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)"/>
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff"/>
        </g>
    </svg>


</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>About</h2>
                <p>BULLPENとは</p>
            </div>

            <div class="row content" data-aos="fade-up">
                <div class="col-lg-6">
                    <p>
                        個人事業主の方が陥りやすいWEBに関するお悩みをトータルでサポート致します。
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> 現場に精一杯で集客戦略に費やす時間が足りない</li>
                        <li><i class="ri-check-double-line"></i> ウェブサイトを運用しているが、売上に繋がらない</li>
                        <li><i class="ri-check-double-line"></i> ウェブ広告はどのように運用すればいいの？</li>
                        <li><i class="ri-check-double-line"></i> 色々チャレンジしているが集客に結びつかない</li>

                    </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                        BULLPENは、幅広い視点でウェブ解析を行い、成果に繋がる改善策を提案し、実行いたします。時間に制約のある個人事業主の方々には手軽な料金設定で集客サポートを提供しています。お客様の課題や目標についてお話を伺い、具体的な解決策を提案いたします。初回無料相談から始めていただき、お気軽にお問い合わせください。
                    </p>
                    <a href="#contact" class="btn-learn-more">無料相談へ</a>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">

            <ul class="nav nav-tabs row d-flex">
                <li class="nav-item col-3" data-aos="zoom-in">
                    <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                        <i class="ri-gps-line"></i>
                        <h4 class="d-none d-lg-block">無料相談</h4>
                    </a>
                </li>
                <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                        <i class="ri-body-scan-line"></i>
                        <h4 class="d-none d-lg-block">ウェブサイト解析</h4>
                    </a>
                </li>
                <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                        <i class="ri-sun-line"></i>
                        <h4 class="d-none d-lg-block">ウェブサイト作成・修正</h4>
                    </a>
                </li>
                <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
                    <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
                        <i class="ri-store-line"></i>
                        <h4 class="d-none d-lg-block">広告運用</h4>
                    </a>
                </li>
            </ul>

            <div class="tab-content" data-aos="fade-up">
                <div class="tab-pane active show" id="tab-1">
                    <div class="row">
                        <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                            <h3>【初回のみ】無料でお受けいたします。</h3>
                            <p class="fst-italic">
                                現在の業務内容やウェブサイト、広告の運用状況を把握した上で、改善が期待できる施策をご提案させていただきます。
                            </p>
                            <ul>
                                <li><i class="ri-check-double-line"></i> ご相談は無料相談フォームからお願いいたします。</li>
                                <li><i class="ri-check-double-line"></i> ご相談内容を伺うメールを返送致しますので、ご回答をお願いいたします。</li>
                                <li><i class="ri-check-double-line"></i>
                                    ご回答頂いた内容を元に、ウェブミーティング、またはメールにてご提案や解決策などを伝え致します。ウェブミーティングではZoom（無料）またはGoogle Meetを使用いたします。
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 text-center">
                            <img src="static/img/features-1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-2">
                    <div class="row">
                        <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                            <h3>ウェブ解析を行い、成果に繋がる施策を提案・実行致します。</h3>
                            <p>
                                BULLPENでは、上級ウェブ解析士の資格を持ったマーケターが、現状のウェブサイトを詳しく解析いたします。ウェブサイトの強みや弱みを明確に把握し、競合他社や基準値との比較を行った上で、適切な改善施策をご提案いたします。 </p>
                            <ul>
                                <li><i class="ri-check-double-line"></i> Googleアナリティクス等を使用したアクセス解析</li>
                                <li><i class="ri-check-double-line"></i> GoogleアナリティクスやGoogleタグマネージャーの設定業務</li>
                                <li><i class="ri-check-double-line"></i> SEO施策</li>
                                <li><i class="ri-check-double-line"></i> 集客チャネル、ページ導線、ユーザー行動の各種レポート作成</li>
                            </ul>
                            <p>
                                上記は一例ですが、その他の要望にも柔軟に対応いたします。また、各種ツールの設定費は頂きません。さらに、全てのアカウントの所有権はお客様に帰属します。 </p>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 text-center">
                            <img src="static/img/features-2.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-3">
                    <div class="row">
                        <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                            <h3>ウェブサイトの作成、デザイン修正も可能です。</h3>
                            <p>
                                ウェブサイトをお持ちでない方にも、ウェブサイトの作成を承っております。また、ウェブ解析に基づいてデザインの変更が必要となった場合も、デザインの変更にも対応いたします。お客様のニーズに合わせた柔軟なサービスを提供いたします。 </p>
                            <ul>
                                <li><i class="ri-check-double-line"></i> ご希望に合わせたウェブサイトの新規制作</li>
                                <li><i class="ri-check-double-line"></i> 既存ウェブサイトのデザイン変更</li>
                            </ul>
                            <p>
                                ウェブサイトを他のウェブ制作会社が管理している場合はご相談下さい。デザイン変更費用は無料です。
                            </p>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 text-center">
                            <img src="static/img/features-3.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab-4">
                    <div class="row">
                        <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                            <h3>費用対効果を重要視した広告運用を致します。</h3>
                            <p>
                                BULLPENでは、Google広告の「検索広告」と「ディスプレイ広告」の認定資格を持ったマーケターが、施策に沿った広告運用を行います。広告運用代行の手数料は広告費に連動しない固定制となっており、費用対効果の最大化を追求することが可能です。 </p>
                            <ul>
                                <li><i class="ri-check-double-line"></i> Google広告</li>
                                <li><i class="ri-check-double-line"></i> Yahoo広告</li>
                                <li><i class="ri-check-double-line"></i> SNS広告</li>
                                <li><i class="ri-check-double-line"></i> 各広告の運用レポート作成</li>
                            </ul>
                            <p>
                                広告アカウントの所有権は全てお客様に帰属します。Googleタグマネージャーを利用した各種タグ設定の設定費は頂きません。
                            </p>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 text-center">
                            <img src="static/img/features-4.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Features Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container">

            <div class="row" data-aos="zoom-out">
                <div class="col-lg-9 text-center text-lg-start">
                    <h3>まずはご相談下さい。</h3>
                    <p> ヒアリングシートを元にウェブミーティングを行います。その後改善提案を致します。</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="#contact">無料相談へ</a>
                </div>
            </div>

        </div>
    </section><!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>Services</h2>
                <p>BULLPENの強み</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="icon-box" data-aos="zoom-in-left">
                        <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
                        <h4 class="title"><a href="">無料相談</a></h4>
                        <p class="description">まずはお話をお聞かせください。ご契約に進む必要は必ずしもございませんので、お気軽にご相談ください。</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
                    <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
                        <div class="icon"><i class="bi bi-book" style="color: #e9bf06;"></i></div>
                        <h4 class="title"><a href="">アカウント譲渡</a></h4>
                        <p class="description">
                            アカウントの内容やノウハウの流出を防ぐため、アカウントの譲渡を行わない企業も多く存在します。しかし、BULLPENはお客様に全てのアカウント権限を提供いたします。</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
                    <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
                        <div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
                        <h4 class="title"><a href="">費用対効果最大</a></h4>
                        <p class="description">広告運用費は一般的に予算の20％が相場とされています。しかし、BULLPENは工数に応じた手数料を頂くことで、不必要な広告予算の膨張を防ぎます。</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="300">
                        <div class="icon"><i class="bi bi-binoculars" style="color:#41cf2e;"></i></div>
                        <h4 class="title"><a href="">小規模事業に強い</a></h4>
                        <p class="description">
                            フリーランスとして活動しているため、各種手数料の低価格化を実現させています。個人事業主の方の負担にならず、かつ成果を最大限上げられるようサポート致します。</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="400">
                        <div class="icon"><i class="bi bi-globe" style="color: #d6ff22;"></i></div>
                        <h4 class="title"><a href="">各種設定費無料</a></h4>
                        <p class="description">分析や広告の設定には通常数万円の費用がかかる場合もありますが、BULLPENでは別途頂くことはありません。</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="500">
                        <div class="icon"><i class="bi bi-clock" style="color: #4680ff;"></i></div>
                        <h4 class="title"><a href="">トータルプロデュース</a></h4>
                        <p class="description">ウェブサイトの作成から修正、アクセス解析、広告運用まで、総合的にお手伝いいたします。</p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>Blog</h2>
                <p>ブログ</p>
            </div>

            <ul id="portfolio-flters" class="d-flex justify-content-end" data-aos="fade-up">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-card">Card</li>
                <li data-filter=".filter-web">Web</li>
            </ul>

            <div class="row portfolio-container" data-aos="fade-up">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="static/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-info">
                        <h4>App 1</h4>
                        <p>App</p>
                        <a href="static/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery"
                           class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img"><img src="static/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-info">
                        <h4>Web 3</h4>
                        <p>Web</p>
                        <a href="static/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery"
                           class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="static/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-info">
                        <h4>App 2</h4>
                        <p>App</p>
                        <a href="static/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery"
                           class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-img"><img src="static/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-info">
                        <h4>Card 2</h4>
                        <p>Card</p>
                        <a href="static/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery"
                           class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img"><img src="static/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-info">
                        <h4>Web 2</h4>
                        <p>Web</p>
                        <a href="static/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery"
                           class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="static/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-info">
                        <h4>App 3</h4>
                        <p>App</p>
                        <a href="static/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery"
                           class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-img"><img src="static/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-info">
                        <h4>Card 1</h4>
                        <p>Card</p>
                        <a href="static/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery"
                           class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-img"><img src="static/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-info">
                        <h4>Card 3</h4>
                        <p>Card</p>
                        <a href="static/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery"
                           class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img"><img src="static/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-info">
                        <h4>Web 3</h4>
                        <p>Web</p>
                        <a href="static/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery"
                           class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i
                                class="bx bx-link"></i></a>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Section -->


    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
        <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>Pricing</h2>
                <p>各種費用</p>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="box" data-aos="zoom-in">
                        <h3>Free</h3>
                        <h4><sup>¥</sup>0<span></span></h4>
                        <ul>
                            <li>初回相談</li>
                            <li>契約後のご相談</li>
                            <li>チャットでのやりとり</li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                        </ul>
                        <div class="btn-wrap">
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
                    <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
                        <h3>ウェブ解析</h3>
                        <h4><sup>¥</sup>19000<span> / 月</span></h4>
                        <ul>
                            <li>アクセス解析</li>
                            <li>課題特定・施策立案</li>
                            <li>各種設定</li>
                            <li>レポート作成</li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                        </ul>
                        <div class="btn-wrap">
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="200">
                        <h3>ウェブサイト制作</h3>
                        <h4><sup>¥</sup>39000<span></span></h4>
                        <ul>
                            <li>デザインと開発</li>
                            <li>ドメイン登録</li>
                            <li>ホスティング</li>
                            <li>SEO対策</li>
                            <li>デザイン修正</li>
                            <li>※納品時のみのお支払い</li>
                        </ul>
                        <div class="btn-wrap">
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
                    <div class="box featured" data-aos="zoom-in" data-aos-delay="300">
                        <h3>広告運用代行</h3>
                        <h4><sup>¥</sup>19000<span> / 月</span></h4>
                        <ul>
                            <li>広告の設定</li>
                            <li>各種タグ設定</li>
                            <li>広告運用</li>
                            <li>レポート作成</li>
                            <li>※出稿媒体1つの金額</li>
                            <li>&nbsp;</li>
                        </ul>
                        <div class="btn-wrap">
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
        <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>F.A.Q</h2>
                <p>よくあるご質問</p>
            </div>

            <ul class="faq-list">

                <li>
                    <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">契約後のやりとりはどのように行いますか？ <i
                            class="bi bi-chevron-down icon-show"></i><i
                            class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            チャットツールであるSlackを使用致します。その他電話やメールでも可能です。
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">
                        ウェブ制作会社がウェブサイトを管理している場合はどうすればいいですか？ <i class="bi bi-chevron-down icon-show"></i><i
                            class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                        <p>ウェブ制作会社と直接やりとりを行い、デザインの修正やタグの設置などの作業をお客様を介さずに対応いたします。 </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">広告運用費は具体的にどのように決まりますか？ <i
                            class="bi bi-chevron-down icon-show"></i><i
                            class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Google検索広告、ディスプレイ広告、Yahoo!検索広告、Twitter広告など、各広告媒体に対して1つあたり19,000円の費用がかかります。ただし、最初の段階では主に顕在層に対して広告運用を行うため、多くの広告媒体を活用することは稀です。 </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">契約期間はありますか？ <i
                            class="bi bi-chevron-down icon-show"></i><i
                            class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            契約期間は特に設けておりませんが、分析結果から成果を得るまでには一定の期間がかかると考えております。そのため、一定期間の継続をお願いできれば幸いです。 </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">無料相談のヒアリングシートとはどのような内容ですか？ <i
                            class="bi bi-chevron-down icon-show"></i><i
                            class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            対象となる業務内容や予算の目安、目標CPAやKPIについてお伺いいたします。もし不明な点がございましたら、空欄でも構いませんのでお知らせください。 </p>
                    </div>
                </li>
            </ul>
        </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>profile</h2>
                <p>担当者紹介</p>
            </div>

            <div class="row content" data-aos="fade-up">
                <div class="original_a">
                    <div class="member" data-aos="fade-up">
                        <div class="member-img">
                            <img src="static/img/team/team-1.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href="https://twitter.com/mugwort51"><i class="bi bi-twitter"></i></a>
                                <!--<a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>-->
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>廣嶋　優</h4>
                            <span>Hiroshima Yu</span>
                            <span>WEBマーケター</span>
                        </div>
                    </div>
                </div>
                <div class="original_b">
                    <p>
                        ウェブ解析士協会所属　上級ウェブ解析士<br>
                        Google 広告「検索広告」認定資格<br>
                        Google 広告「ディスプレイ広告」認定資格<br>
                        <br>
                        1989年生まれ札幌市在住。小学生の子供とトイプードルと暮らしています。事業会社で一人でWEB広告を担当。その後マーケティングを独学で学び、上級ウェブ解析士の資格を取得。<br>
                        趣味は野球観戦と、キャンプ（年20泊ほど）、プログラミング（WEBサービスの個人開発）です！<br>
                    </p>
                </div>
            </div>
        </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title" data-aos="zoom-out">
                <h2>Contact</h2>
                <p>無料相談</p>
            </div>
            <div class="col-lg-9 text-center text-lg-start">
                <p>お名前とメールアドレスを入力してください。返信用メールをお送り致します。</p>
            </div>

            <div class="row mt-5">

                <div class="col-lg-4" data-aos="fade-right">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>北海道札幌市</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>bullpen.hiroshima@gmail.com</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0">
                    <form action="/send-email" method="POST" role="form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="お名前"
                                       required="required"/>
                                <label class="cp_label" for="input"></label>
                                <i class="bar"></i>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="メールアドレス"
                                       required="required"/>
                                <label class="cp_label" for="input"></label>
                                <i class="bar"></i>
                            </div>
                            <div class="text-center">
                                <button type="submit" value="Submit" class="originalbtn"><span>送信</span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <h3>BULLPEN</h3>
        <p>Web marketing, Website development, Web advertising</p>
        <div class="social-links">
            <a href="https://twitter.com/mugwort51" class="twitter"><i class="bx bxl-twitter"></i></a>
<!--            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>-->
<!--            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>-->
<!--            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>-->
<!--            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>-->
        </div>
        <div class="copyright">
            &copy; Copyright <strong><span>BULLPEN</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/selecao-bootstrap-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->
{% endblock %}
