{% extends "layout.html" %}
{% block content %}

<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
            <p>Thank you</p>
        </div>
        <div class="text-center text-lg-start">
            <p>メールを返信致しました。届いていない場合は入力したメールアドレスを再度ご確認頂くか、迷惑メールに振り分けされていないかご確認下さい。</p>
        </div>

        <div class="row mt-5">

                <div class="text-center">
                    <a href="/" class="originalbtn">戻る</a>
                </div>
        </div>
        </div>
</section><!-- End Contact Section -->

{% endblock %}